body{
background-color: #455a64;
font-family: tinos;

}
nav.nav-center ul {
    text-align: center;
    vertical-align: middle;
}
nav.nav-center ul li {
    display: inline;
    float: none;
    vertical-align: middle;
}
nav.nav-center ul li a {
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
    
}
nav{
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 1px ridge white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

 .input-field input:focus + label {
   color: darkcyan !important;
 }

 .row .input-field input:focus {
   border-bottom: 1px solid darkcyan !important;
   box-shadow: 0 1px 0 0 darkcyan !important;
 }

 .input-field{
   margin-top: 20px;
 }

 input{
   color: white;
 }

 li.collection-item{
   display: flex;
   flex-direction: column;
   padding: 0;
 }

#sigs{
  border: none;
}
 .collection{
  display: flex;
  flex-direction: column;
  border: 1px ridge white;
  border-radius: 5px;
 }
 .collection-item a{
   font-size: 13px;
  
 }
 #dInput, #xInput, #dayInput {
   color: black;
   
 }
